html{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #e5e5e5;
}

nav{
    
    height: 50px;
    width: 100vw;
    display: flex;
    background-color:#006d77;
    justify-content: space-evenly;
    align-items: center;
}
ul{

    list-style: none;
    width: 60%;
    display: flex;
    justify-content: space-around;
}


@media all and (max-width:820px){
    nav{
        height: fit-content;
    }
    ul{
        flex-direction: column;
        text-align: center;
    }
}
@media screen and (max-width:510px){
    nav{
        flex-direction: column;
        text-align: center;
    }
    ul{
        width: 100%;
    }
}


.cards{
    width: 80vw;
    height:fit-content;
    padding: 10px;
    border: 1px solid black;
    background-color: #edf6f9;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.7rem;
}

article figure{
    width: 300px;
    height: 400px;
    padding: 10px;
    margin: 20px;
    align-items: center;
    box-shadow: 0px 2px 3px #b7b7a4;
    transition: all;
    transition-duration: 0.3s;
}

section figure figcaption{
    text-align: center;
}

section figure img{
    /* align-items: center; */
    margin:0 15px;
    width: 90%;
    height: 70%;
    /* height: 100%; */
    /* margin: 5px auto; */
}
section figure button{
    padding: 5px 30px;
}


section figure:hover{
    transform: scale(1.02);
}
